<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titulo</title>
</head>
<body>
    <header>
        <nav>
            <div class="site-title">
              <a href="/"><h1>Canciones</h1></a>
              <p>A Reus Web Hacker's Site</p>
            </div>
            <ul>
              
              <li><a href="/canciones">Canciones</a></li>
              <li><a href="/canticos">Canticos</a></li>
              <li><a href="/contos">Cantos</a></li>
             
            </ul>
          </nav>
    </header>
    <main>
        
    </main>
    <footer>footer</footer>
</body>
</html>