<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantos</title>
</head>
<body>
    <header>canticos</header>
    <main>
        <section>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae reprehenderit aut maxime cupiditate dicta, repellendus ullam asperiores sed. Adipisci, nulla! Quia nostrum quaerat, magnam optio voluptas dignissimos velit, ratione nam molestiae similique assumenda odit maiores quod totam, nihil eveniet quae.</section>
    </main>
    <footer> &copy: </footer>
</body>
</html>