<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <header><h2>Las Novedades</h2></header>
    <div class="create-blog content">
        <section>
            <ul>
                <li>esta soleado</li>
                <li>hemos vistro Promises</li>
            </ul>
        </section>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>