<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <header>
        <h2>Constabilidad</h2>
    </header>
    <div class="create-blog content">
        <section>
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur quis corrupti earum? Modi,
                    sint?</p>
            </section>

        </section>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>